:root {
    --back-ground-image: url('./images/1.jpg');
    --back-ground-image-two: url('./images/11.png') 
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.pageOne{
    height: 100%;
    width: 100%;
}

.container{
    position: relative;
    left: 20%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 260px;
    height: 520px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 50px 1px rgb(143, 137, 137);
}

.container .img{
    width: 240px;
    height: 420px;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    border: rgb(0, 0, 0,0.5) 1px solid;
    border-radius: 3px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--back-ground-image);
}

.container .speaker{
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 5px;
    top: 4%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%,-50%);
}

.container .volumeup{
    position: absolute;
    background-color: rgb(124, 114, 114);
    width: 3px;
    height: 40px;
    top: 20%;
    right: -2%;
    border-radius: 0px 10px 10px 0px;
    transform: translate(-50%,-50%);
}

.container .volumedown{
    position: absolute;
    background-color: rgb(124, 114, 114);
    width: 3px;
    height: 40px;
    top: 30%;
    right: -2%;
    border-radius: 0px 10px 10px 0px;
    transform: translate(-50%,-50%);
}

.container .button{
    position: absolute;
    background-color: rgb(213, 217, 218);
    width:45px;
    height: 45px;
    top: 89%;
    left: 41%;
    border-radius: 50%;
    border:rgba(148, 141, 141, 0.5) 2px solid;
    /* box-shadow: 2px 2px 30px white; */
    /* box-shadow: -2px -2px 30px white; */
    box-shadow: inset -1px -1px 30px rgb(190, 182, 182) ;
}

.data {
    position: absolute;
    left: 40%;
    top: 20%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4A8BFF ;
}

.data p{
    text-transform: initial;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

.data p a {
    text-decoration: none;
    color: #4A8BFF;
}

.data a img {
    position: relative;
    padding-top: 10px;
    height: 40px;
    width: 40px;
    animation-name: bounce;
    animation-iteration-count: infinite ;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0%{
        height: 40px;
        width: 40px;
    }
    50%{
        height: 45px;
        width: 45px;
    }
    100%{
        height: 40px;
        width: 40px;
    }
}

.pageTwo{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(209, 227, 228);
}

.containerTwo {
    position: absolute;
    left: 34%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 50px 1px rgb(143, 137, 137);
}

.containerTwo .imgTwo{
    padding: 0;
    width: 725px;
    height: 450px;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    position: absolute;
    border:grey 1px solid;
    border-radius: 5px;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--back-ground-image-two); */
}

.dataTwo{
    position: absolute;
    left: 65%;
    top: 20%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 146, 74) ;
}

.containerTwo .button{
    position: absolute;
    background-color: rgb(213, 217, 218);
    width:25px;
    height: 25px;
    top:93.5%;
    left: 47%;
    border-radius: 50%;
    border:rgb(27, 25, 25,0.5) 1px solid;
    /* box-shadow: 2px 2px 30px white; */
    /* box-shadow: -2px -2px 30px white; */
    box-shadow: inset -1px -1px 30px rgb(190, 182, 182) ;
}

.containerTwo .bar{
    position: absolute;
    top: 100%;
    left: 40%;
    height: 10%;
    width: 140px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 10px 50px  rgb(200, 199, 199);
}

.pageThree{
    position: relative;
    height: 100vh;
    width: 100%;
}

.pageThree .containerThree {
    position: absolute;
    height: 100vh;
    width: 100%;
    left:-20%;
}

.dataThree{
    font-size: 25px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 146, 74) ;
    position: absolute;
    left: 50%;
    top: 30%;
}